.subscriptionDiv1 {
	width: 951px;
	height: 48px;
	border: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #D4D4DC;
}

.subscriptionHeaderCommon {
	padding-top: 16px;
	padding-left: 17px;
	padding-bottom: 15px;
	font-size: 15px;
	background-color: transparent;
	color: #151515;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.subscriptionName {
	float: left;
	width: 229px;
}
.boldInfo{
	font-weight: bold;
}
.subscriptionId {
	float: left;
	width: 207px;
}
.subscriptionStatus {
	float: left;
	width: 196px;
}
.activeColor {
	color: #01A400;
}
.subscriptionRenewal {
	float: left;
	width: 235px;
	text-align: right;
	color: #FF2C00;
	padding-right: 16px;
}

.invoiceDetailsDiv1 {
	width: 951px;
	height: 77px;
	border: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	background-color: transparent;
}

.invoiceDetailsDiv2 {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom : 32px;
}
.invoiceNoDue {
	width: 951px;
	height: 14px;
	padding-top: 18px;
	padding-bottom:18px;
	text-align: center;
	border: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	background-color: transparent;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom : 32px;
}
.invoiceDetailsCommon {
	float:left;
	padding-top : 19px;
	padding-left : 18px;
	padding-bottom : 21px;
	font-size : 12px;
	background-color : transparent;
	color : #333333;;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.invoiceDetailsCommon > .invoiceDetailsLabel {
	color: #666666;
	padding-bottom: 9px;
}
.invoiceId {
	width: 87px;
}
.invoiceDate {
	width: 75px;
}
.invoiceTo {
	width: 179px;
}
.invoiceAmount {
	width: 97px;
}
.invoicePaidAmount {
	width: 97px;
}
.invoiceDueStatus {
	width: 52px; 
}
.invoiceDueInfo {
	width: 44px; 
	background-color: #FF2C00;
	text-align: center;
	border-radius: 2px;
	color: #FFFFFF;
}

.invoiceDetailButtonsDiv {
	float: left;
	width: 222px;
	padding-top: 29px;
	padding-bottom: 30px;
	text-align: right;
	padding-right: 16px;
	padding-left: 18px;
}
.invoiceRecordPayment {
	width: 107px;
	/*height: 18px;  */
	padding: 0px;
}
.invoiceDownload {
	width: 72px;
	/*height: 18px;  */
	padding: 0px;
}
.paymentHistory {
	float:left;
	width: 111px;
	height: 18px;
	margin-bottom: 6px;
	font-size: 15px;
	color: #008EFF;
}
.pagination {
	text-align: right;
	float:right;
	width: 84px;
	height: 18px;
	margin-bottom: 6px;
	color: #336699;
}
.paymentHistoryHeader {
	padding-left: 18px !important; 
	padding-right: 0px !important;
}
.paymentInvoiceId {
	width: 141px;
}
.paymentDate {
	width: 128px;
}
.paymentInvoiceAmount {
	width: 143px;
}
.paymentPaidAmount {
	width: 140px;
}
.paymentPaidDate {
	width: 121px;
}
.paymentStatus {
	width: 69px;
}
.paymentDownload {
	width: 70px;
	padding-right: 15px !important;
}
.invoicePaidInfo {
	width: 44px; 
	background-color: #01A400;
	text-align: center;
	border-radius: 2px;
	color: #FFFFFF;
}
.cursorOnHover{
	cursor: pointer;
}
.addOnLabel {
	width: 30px;
	height: 17px;
	float: left;
	border: solid;
	border-width: 1px;
	border-color: #ccc;
	padding-top: 3px;
	text-align: center;
	background-color: #EEE;
}
.noFurtherPages {
	color : #CCC;
}
.recordAmt {
	width: 108px;
	height:20px;
	float: left;
	border: solid;
	border-width: 1px;
	border-color: #ccc;
}
