body{
  margin: 0px;
  padding: 0;
  font: 12px normal 12px CamphorPro;
  color: #414146;
  background: none;
}
.hide-patient-details,
#livechat-eye-catcher,
#chat-widget-container,
#app-top-nav,
td.fa-zero-width,
.tour-area,
.footer-supportlink,
.new-ux.hide,
.screenActions,
.foottertxt,
#printerDefId{
    display: none;
}
.contentarea.whitebg{
    border: none;
}
