driver: org.postgresql.Driver
classpath: ../commonlib/__POSTGRESDRIVER__
changeLogFile:src/main/resources/liquibase/changelog.xml

url: jdbc:postgresql://localhost:5432/hms
username: postgres
password: 
defaultSchemaName: test_schema

referenceUrl: jdbc:postgresql://localhost:5432/test
referenceUsername: postgres
referencePassword: 
referenceDefaultSchemaName: cen
