@font-face { font-family: CamphorWeb-Bold; src: url("../fonts/Camphor-web-bold.ttf"); }
@font-face { font-family: CamphorWeb-Regular; src: url("../fonts/Camphor-web-regular.ttf"); }

body {
	background-color: #fff;
	margin-bottom: 60px;
	min-width: initial ;
}
*{
	font-size: 13px;
	font-family: 'CamphorPro', Arial, sans-serif;
}
label{
	display: inline-block;
    max-width: 100%;
    /*margin-bottom: 5px;*/
    font-weight: bold;
}
.hover-table{
	border: none;
}
.datepicker.dropdown-menu{
    z-index: 1000 !important;
}   
.ui.popup{
	background-color: #414146 !important;
	font-weight: 600 !important;
	font-size: 13px !important;
	opacity: 0.9 !important;
	color: #fff !important;
}
.ui.popup:before{
	background-color: #414146 !important;
}
.ui.content.custom-content{
	min-height: 450px !important;
}
.mar0{
	margin: 0 !important; 
}
.pad0{
	padding: 0 !important;
}
.d-iblock{
	display: inline-block !important;
}
.f-right{
	float: right !important;
}
.main-header {
	background-color: #28328c;
	min-height: 35px;
	margin: 2.5em 0 !important;
	margin-top: 0 !important; 
}
.header-span{
	color: #ccc;
	font-weight: 100;
}
.add-link a {
	color: #fff;
	cursor: pointer;
	display: block;
}
.add-link {
    font-weight: 900;
    text-align: right;
}
.main-wrapper {
	background-color: #fff;
	padding-top: 5px;
}
.inline-flex {
	display: inline-flex;
}
.flex {
	display: flex;
}
.flex input {
	margin: 0px 10px;
}
.main-title {
	margin: 0px;
	padding: 15px 0;
	font-weight: 600;
}
.sub-title{
	font-size: 18px;
	padding-top: 11.1px;
	padding-bottom: 10.8px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	color: #414146;
}
.summary-type {
	width: 40%;
	float: left;
	padding: 0px 5px;
}
.clearfix {
	clear: both;
}
.pad-l0{
	padding-left: 0 !important;
}
.details-summary-container {
	padding-top: 16px !important;
}
.summary-table table {
	width: 100%;
}
.summary-table table thead th{
	padding: 5px;
	padding-left: 0;
    font-size: 11px;
    text-transform: uppercase;
    color: #787887 !important;
    font-weight: normal !important;
    letter-spacing: 0.5px;
}
.summary-table table tbody tr td{
	padding: 10px 5px;
	padding-left: 0;
	font-size: 12px;
	color: #414146;
}
/*.summary-table table tbody tr td:first-child{
	padding-left: 5px;
}
.summary-table table thead tr th:first-child{
	padding-left: 5px;
}*/
.summary-table table tbody tr:nth-child(even){
	background-color: #f0f0f5;
}
.summary-table table th,td {
	padding: 5px 10px;
	vertical-align: top;
}
.summary-table table thead th{
	background: #f7f7fa;
	text-transform: uppercase !important;
}
.table-bottom-no-border tr:last-child td{
	border-bottom: none;
}	
.legend {
	padding: 10px 0px;
}
.summary-innertable,
.summary-innertable th,
.summary-innertable td,
.summary-innertable tbody{
	border: none !important;
	padding: 0px;
}
.summary-section {
	padding-top: 30px;
}
.details-section .summary-table table td, .summary-block table td {
	border-bottom: 1px solid #ddd;
}
.details-section .summary-table table tbody {
	border-bottom: 1px solid #ccc;
}
.details-section .summary-table table thead th{
	background: #fff;
}
.bill-details {
	padding: 0px;
	padding-left: 25px;
	font-style: italic;
	color: #000;
}
.footer {
	background-color: #fff;
	padding: 10px;
	border-top: 1px solid #ccc;
	margin-top: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	box-shadow: 1px 1px 3px 1px;
}
.width-200 {
	width: 200px;
}
.width-140 {
	width: 120px;
	padding: 5px !important;
}
.modal-dialog {
	position: relative;
	z-index: 9999;
}
.modal-close{
    width: 30px !important;
    right: 1rem !important;
    font-size: 14px !important;
	top: 1.1935rem !important;
    color: #008EFF !important;
}
input[type="date"]::-webkit-clear-button {
	display: none;
}
input[type="date"]::-webkit-inner-spin-button { 
	display: none;
}

/*added to override the values set in style.css*/
input[type=text] {
	height:35px;
	width: auto;
}
.dropdown {
	border: none;
	width: 100%;
}
.dropdown .default.text {
	color: #b4b4be !important;
}
/*end overrides for style.css*/

.voucher-type button {
	width: 310px;
	padding: 6px;
}
.voucher-type .dropdown-menu{
	min-width: 310px;
}
.datepicker {
	cursor: pointer;
}
.multisel .multiselect{
	padding: 2.3px 14px; 
}
.input-block .form-control{
	height: 27px;
	padding: 0px 10px;
}
.details-block{
	max-height: 425px;
	overflow-y: auto;
	color: #414146;
}
.details-block > .ui.styled.fluid.accordion{
	border-radius: 0;
}
.details-heading{
	font-size: 12px;
	margin: 0px !important;
	padding-top: 30px !important;
	/*margin-left: 5px;*/
}
.details-heading:first-child {
	padding-top: 0px !important;
}
.details-heading .column {
	padding: 0px !important;
}
.details-truncate{
	width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}
.exported-status-container {
	text-align: right;
}
.exported-status-container p {
	text-align: left;
}
.exported{
	padding: 5px;
	vertical-align: middle;
	text-align: center;
    color: white;
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 5px;
    /*margin-left: 20px;*/
}
.exported.green-color{
    background: #01a400;
}
.exported.red-color{
	background: #ff2c00;	
}
.popup-title{
	font-size: 14px;
	margin-bottom: 5px;
}
.popup-content p{
	/*max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
	min-width: 330px !important;
	max-width: 330px !important;
	margin: 5px 0; 
}
.thick-label-medium{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	color: #414146;
}
.summary-block{
	background-color: #f7f7fa;
	/*position: fixed !important;*/
	right: 0.5%;
	/*position: relative;*/
	z-index: 0;
	line-height: 0.9;
	padding-top: 17px !important;
}
.summary-content {
	max-height: 410px;
	overflow-y: auto;
}
.summary-table th:nth-child(3) {
	padding-right: 10px !important;
}
.summary-table td:nth-child(3) {
	padding-right: 10px !important;
}
.details-division{
	padding-left: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-right: 20px !important;
}
.details-label {
	padding-bottom: 10px;
	font-size: 14px;
	color: #414146;
}
.modal-details-title{
	color: #000;
	font-weight: 100 !important;
}
.button-transparent{
	border: 1px solid rgb(204, 204, 204);
    background-color: white;
    font-size: 13px;
    padding: 4px 14px;
}
.title-padding{
	padding: 15px 0; 
}
.font11{
	font-size: 11px;
}
.pad0{
	padding: 0;
}
.text-right{
	text-align: right !important;
}
.filter-section{
	background-color: white;
	z-index: 100;
	transition: transform 1s;
}
.filter-bar{
	background-color: #fff !important;
}
.filter-buttons{
	margin-top: 13px;
}
.filter-section-select{
	height: 30px !important;
}
.filter-label{
	font-size: 12px;
	font-weight: 500;
	padding-bottom: 2px;
}
.toggle-search{
	display: none;
	padding: 0 5px;
	background-color: orange;
	color: #fff;
	margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}
.toggle-search:hover{
	color: #fff;
}
.sync-modal-link{
	cursor: pointer;
	vertical-align: super;
}
.sync-block{
	float: right;
	margin-right: 5px;
}
.modal-body > .modal-footer{
	text-align: center;
	padding: 0;
}
.tick, .cross{
	height: 14px;
    margin-bottom: 3px;
}
.tick-block{
    height: 25px;
    position: absolute;
    right: -4.9%;
}
.left-block{
	display: inline-block;
    border-right: 1px solid #ccc;
    min-height: 50px;
}
.d-iblock{
	display: inline-block;
}
.time{
	padding: 20px;
	text-align: center;
}
.task-head-bar{
	display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    /*position: fixed;*/
}
.task-head-bar .input-block{
	padding-top: 0;
}
.task-head-bar .sub-title{
	padding-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 15px;
}
.task-table tbody tr{
	cursor: pointer;
}
.task-table tbody tr:hover{
	cursor: pointer;
	/*background-color: yellow !important;*/
}
.task-head-bar .search-body{
	margin-top: 15px;
}
.task-head-bar .filter-buttons{
	margin-top: 0 ;
}
.task-details-section .details-block{
	margin-bottom: 10px;
    background-color: #cccccc78;
    padding: 10px;
    cursor: pointer;
}
.table-head-label{
	display: inline-block !important;
	max-width: 100%;
	margin-bottom: 5px !important;
	font-size: 12px;
	font-weight: bold;
	padding-right: 8px;
}
.details-title {
	font-size: 12px;
}
.task-details-section .details-heading label{
	cursor: pointer;
}
.tasks-main-section .filter-label{
	margin: 12px 20px 12px;
}
.tasks-main-section .task-search-btn{
	margin-left: 20px !important;
}
.search-header{
	padding-top: 21px;
}

.modal>.header, .modal .actions{
	background: #fff !important;
}
.ui.table{
	border: none !important;
}
.ui.table tr td{
	border-top: none !important
}
.details-table .ui.table thead tr:first-child>th:last-child,
.details-table .ui.table thead tr:first-child>th:nth-last-child(2) {
    text-align: right;
    /*padding-right: 18px;*/
}
.details-table .ui.table tbody tr td:first-child{
	padding-left: 0;
}
.details-table .ui.table thead tr th:first-child{
	padding-left: 0;
}
.summary-table .ui.table tbody tr:nth-child(even) td{
	background-color: #f0f0f5;
}
.details-section .summary-table table tbody tr:nth-child(odd) td{
	background-color: #fff;
}
.summary-table table{
	margin: 5px 0px !important;
}
.summary-table thead tr, .summary-table thead th, .summary-table tbody tr, .summary-table tbody td{
	background-color: #f7f7fa;
}
.summary-block .summary-table thead th{
	background-color: #f7f7fa !important;
} 
.summary-block th, .summary-block td {
	padding: 10px 0px !important;
}
.summary-label {
	font-size: 14px;
}
.toast-para p{
	margin: 10px 30px;
	font-size: 11px;
}
.toast-head{
	font-size: 13px;
	vertical-align: top;
}
.toast-danger-icon{
	margin: 0 5px!important;
	font-size: 15px !important;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar, #date-range-snackbar {
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    color: #fff; /* White text color */
    border-radius: 2px; /* Rounded borders */
    position: fixed; /* Sit on top of the screen */
    left: 50%; /* Center the snackbar */
	max-width: 316px;
	height: 80px;
	color: #fff;
	font-weight: 900;
	z-index: 9999;
	top: 50px;
	font-size: 11px;
}

#snackbar.export-errored {
	background-color: #ff2c00;
}

#snackbar.export-success {
	background-color: #01a400;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show, #date-range-snackbar.show  {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#date-range-snackbar {
	visibility: hidden;
	height: 50px;
	top: 50px;
}
#date-range-snackbar.show  {
	display: block !important;
}
#snackbar .ui.row, #date-range-snackbar .ui.row {
	padding-top: 6px;
}
#snackbar .delete.icon, #date-range-snackbar .delete.icon {
	background-color: #ff2c00;
}
#snackbar.export-success .delete.icon {
	background-color: #01a400;
}
.date-range-error-container {
	padding-top: 10px;
}
.date-range-error-message: {
	padding-right: 2px;
}
.home-btn{
    /*margin: 7px 10px;*/
    border: none;
    padding: 5px 18px;
    padding-left: 10px;
    border-radius: 2px;
    background-color: #3a4293;
	color: #fff;
	cursor: pointer;
}
.hamburger-menu{
	float: left;
    color: #fff;
    margin: 15px !important;
    cursor: pointer;
    font-size: 25px !important;
}
.ui.attached.tabular.menu
{
	border-radius: 2px !important;
	background-color: #d4d4dc;
}
.custom-tab{
	padding: 0 100px !important;
    border-top: 4px solid orange !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    margin-left: 2px;
    font-size: 14px;
    color: #414146 !important;
}
.header-ul{
	display: inline-flex;
    list-style: none;
    margin: 0;
}
.header-ul li > a{
	border-right: 1px solid rgba(255, 255, 255, 0.49);
}
.header-ul li > a:last-child{
	border-right: none;
}
.header-ul li > a:first-child{
	border-left: 1px solid rgba(255, 255, 255, 0.49);
}
.header-ul > .home-btn{
    margin: 10px;
}
.header-ul li > a{
	padding: 15px;
	color: #fff;
	background: none; 
}
.hide{
	display: none;
}
.header-ul li a i{
	margin-left: 0;
	margin-right: 5px;
}
.header-ul li a:hover{
    background-color: #3a4293;
}
.header-icons{
	font-size: 1.5em !important;
	line-height: 0.9 !important;
}
.custom-head-icon{
	font-size: 16px !important;
}
.modal-body{
	padding: 15px !important;
}
.message-display{
	font-size: 17px;
    text-align: center;
    margin: 20px;
    display: inline-block;
}
.message-container{
	width: 300px;
	background-color: #b5ef8a;
	margin: auto !important;
	position: relative;
}
.message-remove-icon{
	position: absolute;
    top: 20px;
}
.footer-link{
	display: inline-block;
	margin: 5px;
	font-weight: 900;
	color: #008EFF;
	cursor: pointer;
}
#tour-area, .tour-area td {
	padding: 0px;
}
.search-body {
	width: 90%;
}
.voucher-type .dropdown{
	height: initial;
}
.export-button-panel {
	position: fixed !important;
	bottom: 0px;
	right: 8vw;
	background-color: white;
	height: 50px;
	padding: 0px !important;
}
.export-button-container {
	background-color:white;
	box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.2);
	height: 50px;
}
.fixed-panel {
	width: 100%;
	left: 0px;
	position: fixed;
	bottom: 0;
}
.submit-export-button {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-left: 25px !important;
	padding-right: 25px !important;
	font-size: 12px !important;
	border-radius: 2px !important;
	margin-right: -15px !important;
	font-family: CamphorPro !important;
}
.export-button-container-table-cell {
	vertical-align: middle;
}
#zohoSync {
	margin-top: 2.5px;
}
#tblMain {
	padding-bottom: 50px;
}
.export-status-dropdown {
	min-width: initial !important;
}
#tblMain .fa-zero-width {
	width : 0px;
}
.msgnav-btn, .helpnav, .usernav, .helpnav-btn, .usernav-btn {
	height: 50px;
}
.home-btn {
	height: 30px;
	padding-top: 8px;
}
.un-userInfo td {
	padding: 12px 0px 12px 12px;
	vertical-align: inherit;
}
.foottertxt {
	display: none;
}
.notification-icon {
	vertical-align: top;
	margin-left: 5px;
}
.close-icon {
	vertical-align: top;
	position: absolute;
	right: 5px;
}
.close-icon:hover {
	cursor: pointer;
}
.header-column {
	padding-top: 3px !important;
}

@media only screen and (max-width: 767px)
{
	.header-inputs-mobile{
		float: right;
	}
	.toggle-search{
		display: initial;
		float: right;
	}
	.search-header{
		border-bottom: 1px solid #ccc;	
		padding-bottom: 19px;
		display: block;
	}
	.details-truncate{
		width: 400px;
	}
	.details-section{
		max-height: initial;   /*Hide this to enable scroll*/
		overflow-y: initial;
	}
	.tick-block{
		right: -7.7%;
	}
	.time span{
	    font-size: 12px;
	}
	.summary-block{
		position: initial !important;
		right: 0;
		line-height: inherit;
	}
	.details-table .ui.table thead tr:first-child>th:last-child{
	    text-align: left;
	}
	.details-table .ui.table tbody tr td:first-child{
		padding-left: initial;
	}
	.tasks-main-section .input-block{
		display: block !important;
	}
	.tasks-main-section .task-search-btn{
		float: right !important;
	}
}
@media only screen and (min-width: 450px) and (max-width: 766px){
	.tick-block{
		right: -3.7%;
	}
}
