.white-background {
	background-color: rgba(255,255,255,1) !important;
}

.leftnav-btn.white-background {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.topnav-overlay {
	width:976px;
	height: 50px;
	background: rgba(30,40,52,0.50);
	position:absolute;
	z-index: 2200;
}

.leftnav-top-overlay-override {
	width: 926px;
	margin-left: 50px;
}

.leftnav-content-overlay {
	width: 645px;
	height: 556px;
	top: -24px;
	background: rgba(30,40,52,0.85);
	position: absolute;
	z-index: 2200;
}

.high-z-index {
	z-index: 2000 !important;
}