/* Overrides the css of styles2.min.css */
.select2-selection__rendered{
	line-height: 21px !important;	
	padding-left:2px !important;
	padding-right: 14px !important;
	text-align:center;	
}
.select2-selection--single{
	height: 21px !important;
	border-radius : 0px !important;
}	
.select2-selection__arrow{
	height:18px !important;
}
